.App {
  width: 100%;
  position: relative;
  min-height: 100vh;
  padding: 12px 20px 40px 20px;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  transition: background-color 0.25s ease-in-out;
}

.title {
  color: var(--primary-text-color);
  font-size: 60px;
  margin-bottom: 50px;
  margin-top: 80px;
  width: 80%;
  text-align: center;
}

.App > p {
  color: var(--secondary-text-color);
  text-align: center;
  width: 50%;
  font-size: 24px;
}

.App p a {
  text-decoration: none;
  color: var(--toggle-fg);
  transition: all 0.3s ease-in-out;
}

.App p a:hover {
  color: var(--toggle-bg);
}

.title span {
  color: var(--alternate-text-color);
}

@media (max-width: 768px) {
  .title {
    font-size: 40px;
  }

  .App > p {
    width: 80%;
    font-size: 20px;
  }
}
