* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Helvetica, sans-serif;
}

:root {
  --background-color: #ffff;
  --foreground-color: rgb(246, 246, 247);
  --foreground-color-hover: rgb(228, 228, 233);
  --primary-text-color: #101010;
  --secondary-text-color: #0a0a0a;
  --toggle-bg: #ebd8ac;
  --toggle-fg: #E6AF2E;
  --alternate-text-color: #A3320B;
  --primary-bg-color: #6B0504;
  --primary-bg-color-hover: #4A0302;

}

[data-theme="dark"] {
  --background-color: rgb(27, 27, 31);
  --foreground-color: rgb(63, 69, 80);
  --foreground-color-hover: rgb(65, 72, 83);
  --primary-text-color: #ffffff;
  --secondary-text-color: #f6f6f6;
  --toggle-bg: #e4dd77;
  --toggle-fg: #888210;
  --alternate-text-color: #f4c95d;
  --primary-bg-color: #dd7230;
  --primary-bg-color-hover: #c15f2a;
}
